html, body{
   margin: 16px auto;
   padding: 0px;
   height: 100%;
   width: 80%;
}
  p{
   width: 80%;
   margin: 10px auto;
   background-color:rgb(184, 184, 184);
   padding: 0 20px 20px 20px;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight:bolder;
   box-shadow:5px 5px 5px rgb(46, 46, 46)
 
}


body { 
   padding: 0 20px 100px 50px;
   background-color:white ;
   border: 10px solid black;
   border-radius: 10px;
   
}
    .grid-container {

      height: 100%;
  
    display:grid;
    
    grid-template-areas: 
    "cabecalho cabecalho"
    "conteudo conteudo"
    "rodape rodape";
    }

    .header {
     
      grid-area: cabecalho;
  }

  .header {
  font-family: serif;
  font-size: 100px;
  color: black;
   display: flex ;
   justify-content:center;
   align-items: center;
   padding: 0 20px 20px 20px;
   width: 80%;
  
  }
  h1{
     font-family: Arial;
     font-size: 40px;
     display: center;
     width: 100%;
     padding: 20px 0;
     text-align:center;
     box-shadow:5px 5px 5px gray;
     text-shadow: 5px 2px 5px  rgb(92, 92, 92);
  }
  h2{
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
  }

  h3{
     justify-content: flex-end;
    
     display:flex;
     font-family: Arial, Helvetica, sans-serif;
  }

